p{
	text-align: justify;
	color: black;
}
body{
	font-family: Arial, Helvetica, sans-serif;
    background: #808080;
    padding: 0;
    margin:0;
}
h1{
	color: red;
	font-family: sans-serif;
	text-align: center;
}
header {
    background-color:green;
    color:white;
    text-align:center;
    padding:10px;     
}
ol{
	font-family: serif;
	color :blue;
}
td{
	color: white;
	text-align: center;
}
